*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/pexels-ricardo-esquivel-1666667.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    
    border-color: red;
}
nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.5s;

    
}

.nav-links ul li a:hover{
    color: rgb(255, 255, 255);
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}



    
